<% layout("layouts/boilerplate.ejs") %>


    <div class="row mt-3"> <!-- mt means margin from top-->
       <div class="col-8 offset-2">
            <h3>Edit you Listing:</h3>

            <form method="POST" 
            action="/listings/<%= listing._id %>?_method=PUT" 
            class="needs-validation"
            novalidate 
            enctype="multipart/form-data">
                <div class="mb-3 ">
                    <label for="title">Title</label>
                    <input type="text" 
                    value="<%= listing.title %>" 
                    name="listing[title]" 
                    class="form-control" 
                    required>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>

                <div class="mb-3">
                   <label for="description" class="form-label">Description</label>
                    <textarea 
                    name="listing[description]"
                     class="form-control" 
                     id="description"
                     required><%= listing.description %></textarea> 

                    <div class="invalid-feedback">Description should be valid </div>
                    <!-- <div class="valid-feedback">Nice Work!!</div> -->
                </div>
                
                <div class="mb-3">
                    Original Image <br>
                    <img src="<%= originalImageUrl %>">
                </div>
                <div class="mb-3">
                    <label for="imgae" class="form-label">Upload New Image </label>
                    <input
                    type="file"
                    name="listing[image]" 
                    class="form-control" 
                    />
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number"
                        value="<%= listing.price %>"
                         name="listing[price]" 
                         class="form-control"
                            required>

                        <div class="invalid-feedback">Price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" 
                        value="<%= listing.location %>" 
                        name="listing[location]" 
                        class="form-control"
                            required>
                        <div class="invalid-feedback">Location should be valid</div>

                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" 
                    value="<%= listing.country %>" 
                    name="listing[country]" 
                    class="form-control"
                        required>

                    <div class="invalid-feedback">Country should be valid</div>
                </div>
                <button class="btn btn-dark editBtn  mt-3">Edit</button>
            </form>
        </div>
    </div>

    <!--add the script javascript file-->
   